<!DOCTYPE html>
<html>
  <head>
    <title>SQLite3 with Sequelize Example Starter</title>
    <meta name="description" content="SQLite3 with Sequelize example starter" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>
        Users
      </h1>
    </header>

    <main>
      <form
        action="/new"
        method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <input
          name="user"
          type="text"
          maxlength="100"
          value=""
          placeholder="Add a user"
        />
        <button type="submit">Add</button>
      </form>
      <section class="users">
        <ul id="users"></ul>
      </section>
      <p><a href="/reset">Reset</a></p>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
